.bg-color-sub {
  background-color: #000000;
}

.footer-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #788ea8;
}

.footer-icon {
  color: white;
  font-size: 20px;
  transition: color 0.3s ease;
}

.footer-icon:hover {
  color: #788ea8;
}

footer p, footer h5 {
  margin: 0;
}

@media (max-width: 767px) {
  .footer .row > div {
    text-align: center;
  }

  .footer .d-flex {
    justify-content: center;
  }
}
